.wrapper {
  box-shadow: 0 4px 15px -7px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 0.7rem 1rem;
  display: grid;
  grid-template-columns: auto 5rem;
  gap: 0.5rem;
}

.button {
  background-color: var(--primary-color);
  border-radius: 3px;
  border: unset;
  font-family: inherit;
  color: white;
  font-size: 12px;
  height: 38px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  padding: 0 1rem;
}

.input {
  border: 1px solid #e5e7eb;
  border-radius: 3px;
  height: 38px;
  padding: 0 0.5rem;
  background-color: transparent;
  font-family: inherit;
  color: inherit;
}

.input::placeholder {
  color: #9ca3af;
}

.input:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 1px var(--primary-color);
}

.units {
  display: flex;
  gap: 0 0.5rem;
}
