.wrapper {
  box-shadow: 0 4px 15px -7px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 0.7rem var(--padding);
  display: grid;
  grid-template-columns: 7rem auto 5rem;
  gap: var(--padding);
}

.button {
  background: linear-gradient(to right, var(--primary-color-dark), var(--primary-color));
  border-radius: 3px;
  border: unset;
  font-family: inherit;
  color: white;
  font-size: 12px;
  height: 38px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  padding: 0 1rem;
}

.input {
  border: 1px solid #f1f5f9;
  border-radius: 3px;
  height: 38px;
  padding: 0 0.5rem;
  background-color: transparent;
  font-family: inherit;
  color: inherit;
  width: 100%;
}

.name-input {
  grid-column: span 2;
}

.input::placeholder {
  color: #94a3b8;
}

.input:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 1px var(--primary-color);
}

.units {
  display: flex;
  gap: 0 var(--padding);
  grid-column: span 3;
}

@media (min-width: 400px) {
  .units {
    grid-column: span 2;
  }
}

.amount-controls {
  position: relative;
}

.amount-input {
  text-align: center;
  -moz-appearance: textfield;
}

.amount-input::-webkit-outer-spin-button,
.amount-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: unset;
}

.amount-button {
  position: absolute;
  top: 3px;
  bottom: 3px;
  background-color: #f1f5f9;
  border: unset;
  padding: 0 10px;
  font-family: inherit;
  font-weight: 600;
  font-size: 18px;
  border-radius: 3px;
}

.amount-button:active {
  background-color: var(--primary-color);
  color: white;
}

.amount-button:first-child {
  left: 3px;
}

.amount-button:last-child {
  right: 3px;
}
