.wrapper {
  box-shadow: 0 -3px 15px -5px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 0.7rem 1rem;
  display: grid;
  grid-template-columns: auto 5rem;
  gap: 0.5rem;
}

.button {
  background-color: black;
  border-radius: 3px;
  border: unset;
  font-family: inherit;
  color: white;
  font-size: 12px;
  height: 38px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  padding: 0 1rem;
}

.input {
  border: 1px solid #ddd;
  border-radius: 3px;
  height: 38px;
  padding: 0 0.5rem;
  background-color: transparent;
  font-family: inherit;
}

.input:focus {
  outline: none;
  border-color: black;
  box-shadow: 0 0 0 1px black;
}

.units {
  display: flex;
  gap: 0 0.5rem;
}
