.wrapper {
  box-shadow: 0 3px 15px -5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  background: linear-gradient(to right, var(--primary-color-dark), var(--primary-color));
  height: 3rem;
  padding: 0 var(--padding);
}

.title {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  margin: 0 auto 0 0;
  color: white;
}

.button {
  background-color: transparent;
  padding: unset;
  border: unset;
  cursor: pointer;
  margin-left: 1rem;
  color: white;
}
