.row > td {
  padding: 0.4rem 0;
  border-bottom: 1px solid #ddd;
  user-select: none;
}

.row:last-child td {
  border-bottom: unset;
}

.row > td:first-child {
  width: 4.5rem;
  font-weight: bold;
}

.row > td:last-child {
  width: 2rem;
  text-align: right;
}

.button {
  background-color: transparent;
  border: unset;
  padding: unset;
  cursor: pointer;
  vertical-align: middle;
  color: inherit;
}
