.item {
  background-color: white;
  display: flex;
  height: 50px;
  border-bottom: 1px solid #ddd;
  align-items: center;
  position: relative;
}

.button {
  flex: 1;
  text-align: left;
  font: inherit;
  padding: 0 var(--padding);
  background-color: transparent;
  margin: unset;
  border: unset;
  height: 100%;
  transition: background-color 0.1s ease;
}

.button:active {
  background-color: rgba(0, 0, 0, 0.08);
}

.name {
  margin: unset;
  font-weight: normal;
  font-size: 14px;
}

.checked {
  text-decoration: line-through;
}

.details {
  font-size: 12px;
  color: hsl(215, 18%, 52%);
}

.checkbox {
  position: absolute;
  right: var(--padding);
}
