.wrapper {
  flex: 1;
  padding: 0.5rem 1rem;
  overflow-x: auto;
}

.list {
  margin: unset;
  padding: unset;
  list-style: none;
}

.empty {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
