#root,
body,
html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: unset;
  font-size: 14px;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 40rem;
  margin: auto;
}

#root {
  display: flex;
  flex-direction: column;
  background-color: #f9fafb;
}
