:root {
  --gray: #374151;
  --red: #b91c1c;
  --orange: #c2410c;
  --yellow: #a16207;
  --green: #15803d;
  --teal: #0f766e;
  --cyan: #0e7490;
  --blue: #1d4ed8;
  --purple: #7e22ce;
  --pink: #be185d;
}

#root,
body,
html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: unset;
  font-size: 14px;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 40rem;
  margin: auto;
  color: #1f2937;
}

#root {
  display: flex;
  flex-direction: column;
  background-color: #f9fafb;
}
